*{
    margin: 0;
    padding: 0;          
}
/* Carousel Styles - Preventing Image Stretch */
.carousel-inner, .carousel-item, .carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: cover; /* Is se images stretch nahi hongi */
}

 /* Navbar Section */
 .navbar-wrapper {
    margin-top: 20px;
    /* Use for horizontalliy align */
    display: flex;
    background: #800000;
    align-items: center;
    padding: 10px;
}

/* Navbar div work */
.nav-scroller-content {
    display: flex;
    /* horizontal scrolling ko enable karta hai jab content container kai width sai ziyaada hou. Agr links container ki width sai ziyaada hai to scrolling show karega */
    overflow-x: scroll;
    /* Scroll ko smooth bana nai kai liya jab user arrow par click karai tou flow smooth ho */
    scroll-behavior: smooth;
}

/* Hide scrollbar for webkit browsers (Chrome, Safari) */
.nav-scroller-content::-webkit-scrollbar {
    display: none;
}

.nav-scroller-content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: cursive;
    /* content ek hi line mai rahai line break na ho */
    white-space: nowrap;
    /* Space from top and right */
    padding: 15px 15px;
    position: relative;
}

/* Pseduo class */
.nav-scroller-content a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 5px;
    background:#ff7f50;
    /* Initially width 0 */
    /* transform: scale(0); */
    /* transform-origin: left; */
}

/* Pseduo class */
a:hover::before {
    width: 100%;
    transition: 0.8s;
}

.arrows {
    background: none;
    border: none;
    color: aliceblue;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
}

.arrows{
    color: rgb(234, 255, 0);
}

/* Section Work */

#category1{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 200px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 190px;
    width: 1197px;
    border-radius: 25px;
    
}

.Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
.Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

.Pizza:hover{
    border-color: #ff7f50;
    transition: 1.2s;
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

#category2{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 200px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 190px;
    width: 1197px;
    border-radius: 25px;
    
}

.Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
.Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

.Pizza:hover{
    border-color: #ff7f50;
    transition: 1.2s;
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

#category3{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 200px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 190px;
    width: 1197px;
    border-radius: 25px;
    
}

.Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
.Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

.Pizza:hover{
    border-color: #ff7f50;
    transition: 1.2s;
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

#category4{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 200px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 190px;
    width: 1197px;
    border-radius: 25px;
    
}

.Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 278px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
.Pizza img{
    height: 250px;
    width: 271px;
    border-radius: 20px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

.Pizza:hover{
    border-color: #ff7f50;
    transition: 1.2s;
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

#category5{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 200px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 190px;
    width: 1197px;
    border-radius: 25px;
    
}

.Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 278px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
.Pizza img{
    height: 250px;
    width: 271px;
    border-radius: 20px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

.Pizza:hover{
    border-color: #ff7f50;
    transition: 1.2s;
}
#h2{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.p2{
    font-size: 31px;
    font-weight: bolder;
}

.b2{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}