* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #282828;
}

#parent-container {
    width: 100%;
    height: 100%;
    background-color: #121212;
    /* margin-left: 125px; */
}

#navbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(18, 18, 18, 0.9);
}

#navbar a {
    color: aliceblue;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
}

#navbar a:hover {
    color: gold;
    transition: 1.5s;
    text-shadow: 1px 1px 1px red;
}

#hero-section {
    display: flex;
    width: 100%;
    background-color: black;
}

img {
    width: 100%;
}

/* Navbar Section */
.navbar-wrapper {
    /* Use for horizontalliy align */
    display: flex;
    background-color: rgba(18, 18, 18, 0.9);
    align-items: center;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: gold;
}

/* Navbar div work */
.nav-scroller-content {
    display: flex;
    /* horizontal scrolling ko enable karta hai jab content container kai width sai ziyaada hou. Agr links container ki width sai ziyaada hai to scrolling show karega */
    overflow-x: scroll;
    /* Scroll ko smooth bana nai kai liya jab user arrow par click karai tou flow smooth ho */
    scroll-behavior: smooth;
}

/* Hide scrollbar for webkit browsers (Chrome, Safari) */
.nav-scroller-content::-webkit-scrollbar {
    display: none;
}

.nav-scroller-content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: sans-serif;
    /* content ek hi line mai rahai line break na ho */
    white-space: nowrap;
    /* Space from top and right */
    padding: 15px 15px;
    position: relative;
}

.nav-scroller-content a:hover {
    color: blue;
    transition: 1.2s;
}

.arrows {
    background: none;
    border: none;
    color: aliceblue;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
}

.arrows {
    color: rgb(234, 255, 0);
}

/* Section Work */

#category1 {
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(18, 18, 18, 0.9);
}

#head1 {
    margin-left: 260px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

.span{
    text-shadow: 2px 2px #e63946;
    color: #28a745;
}

#category1 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 436px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category1 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category2 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head2 {
    margin-left: 320px;
    font-size: 35px;
    font-family: sans-serif;
    color: #001aff;
}

#category2 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 436px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category2 .Pizza:hover {
    border-color: blue;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category3 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head3 {
    margin-left: 320px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

#category3 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 436px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category3 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category4 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head4 {
    margin-left: 320px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

#category4 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 436px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category4 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category5 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head5 {
    margin-left: 320px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

#category5 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 485px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category5 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category6 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head6 {
    margin-left: 380px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

.Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 485px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category6 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category7 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head7 {
    margin-left: 380px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

#category7 .pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 490px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#category7 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 488px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category7 .pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#category7 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.pizza .p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

.pizza #p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.pizza .b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
    color: aliceblue;
}

#category8 {
    border-top: 2px solid black;
    width: 80%;
    margin-left: 125px;
    padding-top: 20px;
    background-color: rgba(18, 18, 18, 0.9);
    padding-bottom: 20px;
}

#head8 {
    margin-left: 350px;
    font-size: 35px;
    font-family: sans-serif;
    color: #e63946;
    text-shadow: 2px 2px#28a745;
}

.pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#category8 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 30px;
    display: inline-block;
    height: 436px;
    width: 270px;
    background-color: rgba(18, 18, 18, 0.9);
    border-radius: 25px;
}

.Pizza img {
    height: 250px;
    width: 270px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category8 .Pizza:hover {
    border-color: gold;
    transition: 1.2s;
    transform: scale(1.05);
}

#h1 {
    color: rgb(255, 179, 0);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}


.p1 {
    font-size: 18px;
    margin-top: 12px;
    color: white;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: 12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    margin-left: -7px;
    background-color: red;
}

.b1 a {
    text-decoration: none;
    color: aliceblue;
}

/* Sidebar Cart */
.cart-sidebar {
    position: fixed;
    right: -400px;
    top: 0;
    width: 350px;
    height: 100%;
    background: rgb(0, 0, 0);
    z-index: 1000;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    box-shadow: -5px 0 20px rgba(0, 0, 0, 0.2);
}

.cart-sidebar.active {
    right: 0;
}

.cart-header {
    background: #b30000;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-cart {
    cursor: pointer;
    font-size: 24px;
}

#cart-items-list {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    color: #b30000;
    font-size: 18px;
}

/* Cart Item Row */
.cart-card {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.cart-card img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.qty-controls {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #f0f0f0;
    border-radius: 15px;
    padding: 2px 10px;
}

.qty-controls button {
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #b30000;
    font-size: 18px;
}

/* Floating Button */
.floating-cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #b30000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 500;
}

#cart-count {
    position: absolute;
    top: 0;
    right: 5px;
    background: gold;
    padding: 2px 7px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: bold;
}

.cart-footer {
    padding: 20px;
    border-top: 1px solid #eee;
    color: #e63946;
    font-size: 18px;
}

.checkout-btn {
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 5px;
}

/* Foot-panel */

footer {
    margin-top: 100px;
}

.foot-panel1 {
    background-color: #121212;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-panel1 a {
    text-decoration: none;
    color: rgb(255, 251, 0);
    font-size: 1.5rem;
}

.foot-panel2 {
    background-color: #121212;
    height: 330px;
    color: rgb(255, 251, 0);
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid black;
}

ul {
    margin-top: 70px;
}

ul a {
    display: block;
    color: red;
    font-size: 1rem;
    margin-top: 10px;

}

.foot-panel3 {
    background-color: #121212;
    height: 120px;
    border-top: 2px solid;
    display: flex;
    justify-content: center;
}

.foot-logo {
    background-image: url("https://assets.indolj.io/upload/1751470831-1658409985-Logo-california-(1).png?q=10");
    background-size: cover;
    height: 90px;
    width: 160px;
    margin-top: 5px;
}

.foot-panel4 {
    border-top: 1px solid black;
    height: 60px;
    background-color: #121212;
    color: red;
    font-size: 1rem;
    text-align: center;

}

.foot-pages {
    padding-top: 10px;
}

.copyright {
    padding-top: 10px;
}

/* --- Responsive Adjustments --- */

@media (max-width: 1024px) {
    /* Categories ki fixed width aur margin ko sahi karna */
    #category1, #category2, #category3, #category4, 
    #category5, #category6, #category7, #category8 {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    /* Headings ki fixed margin khatam karna */
    #head1, #head2, #head3, #head4, #head5, #head6, #head7, #head8 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    /* Navbar ko wrap karna taake links screen se bahar na jayen */
    #navbar {
        height: auto;
        padding: 10px;
        flex-wrap: wrap;
    }

    /* Cards ko mobile screen par center aur adjust karna */
    .Pizza, #category7 .pizza, #category8 .Pizza {
        margin-left: 0;
        margin-right: 0 ;
        width: 90% ; /* Mobile par card ki width bari hogi */
        max-width: 300px;
        display: inline-block;
    }

    /* Footer ko adjust karna */
    .foot-panel2 {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    ul {
        margin-top: 20px;
        text-align: center;
    }

    /* Sidebar cart ki width adjust karna */
    .cart-sidebar {
        width: 100%;
        right: -100%;
    }
}

@media (max-width: 480px) {
    #navbar a {
        font-size: 16px;
    }

    #h1 {
        font-size: 20px;
    }

    .arrows {
        font-size: 25px;
    }
}