*{
    margin: 0;
    padding: 0;          
}

body{
    background: linear-gradient(#34a45f , #069908);
}

/* Class */
.class{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #800000;
    border-style: solid; 
    border-width: 3px;  
    border-color: red;
}
.class a{
    color: aliceblue;
    font-size: 25px;
    font-family: poppins , sans-serif;
    text-decoration: none;
}

a:hover{
    color: rgb(0, 0, 0);
    transition: 2s;
}
 /* Navbar Section */
 .navbar-wrapper {
    /* Use for horizontalliy align */
    display: flex;
    background: #800000;
    align-items: center;
    padding: 10px;
    border-style: solid; 
    border-width: 3px;  
    border-color: red;
}

/* Navbar div work */
.nav-scroller-content {
    display: flex;
    /* horizontal scrolling ko enable karta hai jab content container kai width sai ziyaada hou. Agr links container ki width sai ziyaada hai to scrolling show karega */
    overflow-x: scroll;
    /* Scroll ko smooth bana nai kai liya jab user arrow par click karai tou flow smooth ho */
    scroll-behavior: smooth;
}

/* Hide scrollbar for webkit browsers (Chrome, Safari) */
.nav-scroller-content::-webkit-scrollbar {
    display: none;
}

.nav-scroller-content a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: cursive;
    /* content ek hi line mai rahai line break na ho */
    white-space: nowrap;
    /* Space from top and right */
    padding: 15px 15px;
    position: relative;
}

/* Pseduo class */
.nav-scroller-content a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 0%;
    height: 5px;
    background:#ff7f50;
    /* Initially width 0 */
    /* transform: scale(0); */
    /* transform-origin: left; */
}

/* Pseduo class */
a:hover::before {
    width: 100%;
    transition: 0.8s;
}

.arrows {
    background: none;
    border: none;
    color: aliceblue;
    padding: 15px;
    cursor: pointer;
    font-size: 40px;
}

.arrows{
    color: rgb(234, 255, 0);
}

/* Carousel Styles - Preventing Image Stretch */
.carousel-inner, .carousel-item, .carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: cover; /* Is se images stretch nahi hongi */
}

/* Section Work */

#category1{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category1 .Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
}
#category1 .Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category1 .Pizza:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

#category2{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category2 .Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category2 .Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category2 .Pizza:hover{
    border-color: #e83636;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 3 */
#category3{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}
#category3 .Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category3 .Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category3 .Pizza:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 4 */
#category4{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category4 .Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 278px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category4 .Pizza img{
    height: 250px;
    width: 271px;
    border-radius: 20px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category4 .Pizza:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 5 */
#category5{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category5 .Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 278px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category5 .Pizza img{
    height: 250px;
    width: 271px;
    border-radius: 20px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category5 .Pizza:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h2{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

.p2{
    font-size: 31px;
    font-weight: bolder;
}

.b2{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 6 */

#category6 {
    margin-top: 30px;
    padding-top: 20px;
}

.logo {
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}

.logo img {
    height: 240px;
    width: 1197px;
    border-radius: 25px;

}

#category6 .Pizza {
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 278px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}

#category6 .Pizza img {
    height: 250px;
    width: 271px;
    border-radius: 20px;
}

.info {
    padding-left: 20px;
    padding-top: 10px;
}

#category6 .Pizza:hover {
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}

#h1 {
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1 {
    font-size: 18px;
}

#p2 {
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1 {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

#h3 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
    color: black;
}

.p3 {
    position: relative;
    top:30px;
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

.b3{
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    background-color: #ff0000;
    color: aliceblue;
    border-radius: 25px;
    margin-left: -7px;
    margin-top: 56px;
}

#h4 {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bolder;
    color: black;
}

.p4 {
    position: relative;
    top:30px;
    font-size: 18px;
}

.b4 {
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
    background-color: #ff0000;
    color: aliceblue;
    border-radius: 25px;
    margin-left: -7px;
    margin-top: 25px;
}

/* section 7 */
#category7{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category7 .Pizza{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 460px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category7 .Pizza img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category7 .Pizza:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 8 */
#category8{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category8 .pizz{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    height: 490px;
    width: 277px;
    display: inline-block;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category8 .pizz img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category8 .pizz:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 9 */
#category9{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category9 .pizza01{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 488px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category9 .pizza01 img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}

#category9 .pizza02{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 515px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category9 .pizza02 img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}
#category9 .pizza01:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#category9 .pizza02:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 10 */
#category10{
    margin-top: 30px;
    padding-top: 20px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;   
}

#category10 .pizza02{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 515px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category10 .pizza02 img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category10 .pizza02:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}

/* Section 11 */
#category11{
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.logo{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    margin-left: 5px;
}
.logo img{
    height: 240px;
    width: 1197px;
    border-radius: 25px;
    
}

#category11 .pizza02{
    margin-top: 50px;
    border: 3px solid #000000;
    border-width: 4px;
    margin-left: 16px;
    display: inline-block;
    height: 518px;
    width: 280px;
    background-color: aliceblue;
    border-radius: 25px;
    transition: border-color 0.3s ease;
}
#category11 .pizza02 img{
    height: 250px;
    width: 270px;
    border-radius: 25px;
}
.info{
    padding-left: 20px;
    padding-top: 10px;
}

#category11 .pizza02:hover{
    border-color: #ff0000;
    transition: 1.2s;
    transform: scale(1.1);
}
#h1{
    color: black;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 25px;
}

.p1{
    font-size: 18px;
}

#p2{
    font-size: 25px;
    font-weight: bolder;
    margin-top: -12px;
}

.b1{
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    width: 100%;
    border-radius: 25px;
    margin-left: -7px;
    background-color: #ff0000;
    color: aliceblue;
}